{% set products = top_products(4) %}
{% extends 'base.html.twig' %}

{% block content_wrapper %}
    <div class="home-page">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="home-page-featured-large">
                    <div id="featured-carousel" class="home-page-featured-carousel carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#featured-carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#featured-carousel" data-slide-to="1"></li>
                            <li data-target="#featured-carousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            {% for index, product in products %}
                                <div class="item {% if index == 0 %}active{% endif %}">
                                    <div class="featured-carousel-img" style="background-image:url({{ product_image(product) }});">
                                        <a class="featured-carousel-view" href="{{ product.url | translation_url }}">
                                            {{ 'home.view_more'|trans }}
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    {% for product in products %}
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 home-page-featured-small-bp">
                            <div class="home-page-featured-small" style="background-image:url('{{ product_image(product) }}');">
                                <div class="home-page-featured-caption">
                                    <span class="featured-caption-title">{{ product.title | translation_text }}</span>
                                    <div class="featured-caption-description">{{ product.description | translation_text | raw }}</div>
                                    <a href="{{ product.url | translation_url }}" class="featued-caption-view">
                                        {{ 'home.buy_now'|trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="home-page-products"></div>
            </div>
        </div>
    </div>
{% endblock %}
