{% macro term(filter, page_route, default_route_parameters) %}
    {% if filter|default(false) and filter.choices|length %}
        {% set default_route_parameters = default_route_parameters|default({}) %}
        <div class="sidebar-filters">
            <div class="sidebar-filters-heading clearfix">
                {{ ('filter.' ~ filter.name)|trans }}
                <span class="sidebar-filter-collapse pull-right">-</span>
            </div>
            <div class="sidebar-filters-body">
                <div class="sidebar-filters-group clearfix">
                    {% for choice in filter.choices %}
                        <a href="{% if 'ongr_route' in app.request.attributes.get('_route') %}
                                     {{ path(page_route, choice.getUrlParameters()|merge(default_route_parameters)) }}
                                 {% else %}
                                     {{ path(app.request.attributes.get('_route'), choice.getUrlParameters()|merge(default_route_parameters)) }}
                                 {% endif %}"
                           class="sidebar-filters-item {% if choice.active %} active{% endif %}">
                            <span class="sidebar-filters-item-checkbox glyphicon{% if choice.active %} glyphicon-ok{% endif %}"></span>
                            {{ choice.label }}
                            <span class="sidebar-filters-amount">({{ choice.count }})</span></a>
                    {% endfor %}
                    {% if filter.state.active %}
                        <a class="sidebar-filters-item all" href="{% if 'ongr_route' in app.request.attributes.get('_route') %}
                                     {{ path(page_route, filter.resetUrlParameters()|merge(default_route_parameters)) }}
                                 {% else %}
                                     {{ path(app.request.attributes.get('_route'), filter.resetUrlParameters()|merge(default_route_parameters)) }}
                                 {% endif %}">{{ "filter.all"|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro range(filter, page_route, default_route_parameters) %}
    {% if filter|default(false) %}
        {% set default_route_parameters = default_route_parameters|default({}) %}
        <div class="sidebar-filters">
            <div class="sidebar-filters-heading clearfix">
                {{ ('filter.' ~ filter.name)|trans }}
                <span class="sidebar-filter-collapse pull-right">-</span>
            </div>
            <div class="sidebar-filters-body">
                <div class="sidebar-filters-group clearfix">
                    {% import _self as macros %}
                    {{ macros.price_select(filter, page_route, "0;10", "0 - 10") }}
                    {{ macros.price_select(filter, page_route, "10;25", "10 - 25") }}
                    {{ macros.price_select(filter, page_route, "25;50", "25 - 50") }}
                    {{ macros.price_select(filter, page_route, "50;100", "50 - 100") }}
                    {{ macros.price_select(filter, page_route, "100;10000", "filter.more"|trans~" 100") }}
                    {% if filter.state.active %}
                        <a class="sidebar-filters-item all" href="{{ path(page_route, filter.resetUrlParameters|merge(default_route_parameters)) }}">{{ "filter.all"|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro price_select(filter, page_route, url_param, range) %}
    <span class="sidebar-filters-item-checkbox
                           {% if filter.getUrlParameters()['price'] is defined and filter.getUrlParameters()['price'] == url_param%}
                           glyphicon-ok{% endif %} glyphicon"></span>
    <a href="{% if 'ongr_route' in app.request.attributes.get('_route') %}
             {{ path(page_route, filter.getUrlParameters()|merge({"price":url_param})) }}
         {% else %}
             {{ path(app.request.attributes.get('_route'), filter.getUrlParameters()|merge({"price":url_param})) }}
         {% endif %}"
       class="sidebar-filters-item ">
        {{ range }} €</a>
{% endmacro %}