{% macro term(filter, page_route, default_route_parameters) %}
    {% if filter|default(false) and filter.choices|default({})|length %}
        {% set default_route_parameters = default_route_parameters|default({}) %}
        <div class="sidebar-filters">
            <div class="sidebar-filters-heading clearfix">
                {{ ('filter.' ~ filter.name)|trans }}
                <span class="sidebar-filter-collapse pull-right">-</span>
            </div>
            <div class="sidebar-filters-body">
                <div class="sidebar-filters-group clearfix">
                    {% for choice in filter.choices %}
                        {% if choice.active %}
                            <span class="sidebar-filters-item-checkbox glyphicon glyphicon-ok"></span>
                            <a href="{{ path(page_route, filter.resetUrlParameters|merge(default_route_parameters)) }}"
                               class="sidebar-filters-item active">{{ choice.label }} <span class="sidebar-filters-amount">({{ choice.count }})</span></a>
                        {% else %}
                            <span class="sidebar-filters-item-checkbox glyphicon"></span>
                            <a href="{{ path(page_route, choice.getUrlParameters()|merge(default_route_parameters)) }}"
                               class="sidebar-filters-item">{{ choice.label }} <span class="sidebar-filters-amount">({{ choice.count }})</span></a>
                        {% endif %}
                    {% endfor %}
                    {% if filter.state.active %}
                        <a class="sidebar-filters-item all" href="{{ path(page_route, filter.resetUrlParameters|merge(default_route_parameters)) }}">{{ "filter.all"|trans }}</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="sidebar-filters">
            <div class="sidebar-filters-heading clearfix">
                {{ ('filter.' ~ filter.name)|trans }}
                <span class="sidebar-filter-collapse pull-right">-</span>
            </div>
            <div class="sidebar-filters-body">
                {% if filter.minBounds is defined and filter.maxBounds is defined and filter.minBounds < filter.maxBounds %}
                    <p>
                        <span class="sidebar-slider-min">{{
                            filter.urlParameters.p|default(false)
                                ? filter.urlParameters.p|split(';')[0]|number_format(2, ',')
                                : filter.minBounds|number_format(2, ',') }}</span> €
                        - <span class="sidebar-slider-max">{{
                            filter.urlParameters.p|default(false)
                                ? filter.urlParameters.p|split(';')[1]|number_format(2, ',')
                                : filter.maxBounds|number_format(2, ',') }}</span> €
                    </p>
                    <div class="sidebar-filters-item sidebar-filter-slider" data-min="{{
                        filter.minBounds|number_format(2) }}" data-max="{{
                        filter.maxBounds|number_format(2) }}" data-url="{{
                        path(page_route, filter.getUrlParameters()|merge(default_route_parameters)|merge({'p': 'price_min;price_max'})) }}"></div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endmacro %}
