{% extends 'base.html.twig' %}

{% import '::macros/filters.html.twig' as filter_macros %}
{% import '::macros/breadcrumbs.html.twig' as breadcrumbs_macros %}
{% set filters = filter_manager.filters %}

{% block page_route %}{% endblock %}

{#{% block breadcrumbs_inner %}#}
    {#{{ breadcrumbs_macros.category_breadcrumbs(category) }}#}
{#{% endblock %}#}

{% block sidebar %}
    {{ filter_macros.range(filters.price, 'ongr_route', {'document':category}) }}
    {{ filter_macros.term(filters.color, 'ongr_route', {'document':category}) }}
    {{ filter_macros.term(filters.brand, 'ongr_route', {'document':category}) }}
    {{ filter_macros.term(filters.people, 'ongr_route', {'document':category}) }}
    {{ filter_macros.term(filters.material, 'ongr_route', {'document':category}) }}
{% endblock %}

{% block sorting %}
    {% if filters.sorting is defined %}
        {% set filter = filters.sorting %}
        <div class="list-sorting-container clearfix">
            <div class="dropdown pull-right">
                <a data-toggle="dropdown" href="{% for choice in filter.choices %}
                        {% if choice.active or ((not filter.state.active) and choice.default) %}
                             {% if 'ongr_route' in app.request.attributes.get('_route') %}
                                 {{ path('ongr_route', choice.urlParameters) }}
                             {% else %}
                                 {{ path(app.request.attributes.get('_route'), choice.urlParameters) }}
                             {% endif %}
                        {% endif %}
                    {% endfor %}" class="btn btn-sm btn-default">
                    {{ ('filter.' ~ filter.name)|trans }}
                    {% for choice in filter.choices %}
                        {% if choice.active or ((not filter.state.active) and choice.default) %} {{ choice.label|trans }}{% endif %}
                    {% endfor %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    {% for choice in filter.choices %}
                        {% if not (choice.active or (choice.default and not filter.state.active)) %}
                            {#<li><a href="{{ path(block('page_route'), choice.getUrlParameters()) }}">{{ choice.label }}</a></li>#}
                            <li><a href="
                                {% if 'ongr_route' in app.request.attributes.get('_route') %}
                                    {{ path('ongr_route', choice.urlParameters) }}
                                {% else %}
                                    {{ path(app.request.attributes.get('_route'), choice.urlParameters) }}
                                {% endif %}">{{ choice.label|trans }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="dropdown pull-right">
                <a data-toggle="dropdown" href="" class="btn btn-sm btn-default">
                    Count per page
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li class="text-center"><a href="{% if 'ongr_route' in app.request.attributes.get('_route') %}
                                    {{ path('ongr_route', app.request.query.all|merge({'cpp':12, 'document': category})) }}
                                {% else %}
                                    {{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'cpp':12, 'document': category})) }}
                                {% endif %}">12</a></li>
                    <li class="text-center"><a href="{% if 'ongr_route' in app.request.attributes.get('_route') %}
                                    {{ path('ongr_route', app.request.query.all|merge({'cpp':20, 'document': category})) }}
                                {% else %}
                                    {{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'cpp':20, 'document': category})) }}
                                {% endif %}">20</a></li>
                    <li class="text-center"><a href="{% if 'ongr_route' in app.request.attributes.get('_route') %}
                                    {{ path('ongr_route', app.request.query.all|merge({'cpp':28, 'document': category})) }}
                                {% else %}
                                    {{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'cpp':28, 'document': category})) }}
                                {% endif %}">28</a></li>
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}

    {% block list_header %}
        <h2 class="list-page-header-title">{% block list_title %}{{ category.title|translation_text }}{% endblock %}</h2>
    {% endblock %}

    {{ block('sorting') }}

    {% block product_list %}
        <div class="row">
            {% set colors = []%}
            {% set people = ''%}
            {% for choice in filter_manager.filters.color.getChoices() %}
                {% if choice.isActive() %}
                    {% set colors = colors|merge([choice.getLabel()]) %}
                {% endif %}
            {% endfor %}
            {% for choice in filter_manager.filters.people.getChoices() %}
                {% if choice.isActive() %}
                    {% set people = choice.getLabel() %}
                {% endif %}
            {% endfor %}
            {% for product in filter_manager.getResult %}
                {% set variant = '' %}
                {% if colors is not empty and people is not empty %}
                    {% for var in product.variants %}
                        {% if var.color.en.text is defined and var.color|translation_text in colors and var.people|translation_text == people%}
                            {% set variant = var %}
                        {% endif %}
                        {% if variant is empty %} {% set variant = 'no-variant' %} {% endif %}
                    {% endfor %}
                {% elseif colors is not empty %}
                    {% for var in product.variants %}
                        {% if var.color.en.text is defined and var.color|translation_text in colors %}
                            {% set variant = var %}
                        {% endif %}
                    {% endfor %}
                {% elseif people is not empty %}
                    {% for var in product.variants %}
                        {% if var.people|translation_text == people %}
                            {% set variant = var %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if variant != 'no-variant' %}
                    <div class="col-md-3 col-sm-6 col-xs-6 product-container">
                        <div class="thumbnail product-thumbnail">
                            {% if variant is defined and variant is not empty %}
                                {% set product_url = path('ongr_route', { 'document': product, 'variant': variant.key }) %}
                            {% else %}
                                {% set product_url = path('ongr_route', { 'document': product }) %}
                            {% endif %}
                            <div class="product-image-container">
                                <a href="{{ product_url }}">
                                    {% if variant is defined and variant.images[0] is defined%}
                                        <img src="{{ variant.images[0] }}" class="product-image" alt="Product image"/>
                                    {% else %}
                                        <img src="{{ product_image(product) }}" class="product-image" alt="Product image"/>
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <h5 class="product-title">
                            <a class="product-link" href="{{ product_url }}">{{ product.title|translation_text }}</a>
                        </h5>
                        <strong class="product-price">{{ product.price|number_format(2, ',', ' ') }} €</strong>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endblock %}

    {% if filters.pager is defined %}
        <div class="list-pagination clearfix">
            {% set parameters = {'document': category} %}
            {% set parameters = parameters|merge(app.request.query.all) %}
            <div class="pull-right">{{ ongr_paginate(filters.pager.pager, 'ongr_route', parameters) }}</div>
        </div>
    {% endif %}

{% endblock %}
