{% extends 'base.html.twig' %}

{% import '::macros/breadcrumbs.html.twig' as breadcrumbs_macros %}

{% block title %}
    {{ product.title | translation_text }} - {{ parent() }}
{% endblock %}

{% block canonical_meta %}
    <link rel="canonical" href="{{ path('ongr_route', { 'document' : product }) }}">
{% endblock %}

{% block variants %}
    <div class="product-variants">
        <div class="product-variant-colors col-md-12">
            <p>{{ 'product.brand'|trans }}: {{ product.brand }}</p>
        </div>
        <form action="{{ path('ongr_route', { 'document': product }) }}" method="get" id="product-variant-form">
            <div class="product-variant-colors col-md-6">
                <p>{{ 'product.choose_color'|trans }}
                    <select name="color" class="product-variant-select">
                        <option value="">-</option>
                        {% for color in product_colors(product.variants) %}
                            {% if variants['colors'] is defined %}
                                {% if color | translation_text in variants['colors'] %}
                                    <option class="product-variant" value="{{ color | translation_text }}">
                                        {{ color | translation_text }}
                                    </option>
                                {% endif %}
                            {% else %}
                                <option class="product-variant" value="{{ color | translation_text }}"
                                  {% if (variant is defined and color | translation_text == variant.color| translation_text) or
                                  (variants['selected_color'] is defined and variants['selected_color'] == color | translation_text)%}
                                    selected="true"
                                  {% endif %}>
                                    {{ color | translation_text }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </p>
            </div>
            <div class="product-variant-materials col-md-6">
                <p>{{ 'product.choose_material'|trans }}
                    <select name="material" class="product-variant-select">
                        <option value="">-</option>
                        {% for material in product_materials(product.variants) %}
                            {% if variants['materials'] is defined %}
                                {% if material | translation_text in variants['materials'] %}
                                    <option class="product-variant" value="{{ material | translation_text }}">
                                        {{ material | translation_text }}
                                    </option>
                                {% endif %}
                            {% else %}
                                <option class="product-variant" value="{{ material | translation_text }}"
                                        {% if (variant is defined and material | translation_text == variant.material| translation_text) or
                                        (variants['selected_material'] is defined and variants['selected_material'] == material | translation_text)%}
                                            selected="true"
                                        {% endif %}>
                                    {{ material | translation_text }}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </p>
            </div>
        </form>
    </div>
{% endblock %}

{% block product_details %}
    <div class="product-details product-more-info">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#more_info" aria-controls="more_info" role="tab" data-toggle="tab">{{ 'product.description'|trans }}</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="more_info">
                {{ product.description | translation_text | raw }}
            </div>
        </div>
    </div>
{% endblock %}

{% block product_content %}
    <div class="col-sm-7 col-md-7 col-lg-6">
        <h2 class="product-title">{{ product.title | translation_text }}</h2>
        {{ block('product_details') }}
        <div class="product-info">
            {{ block('variants') }}
        </div>
        {#<div class="alert alert-success" role="alert">Successfully added to cart</div>#}

        <form action="{{ shop_url_origin }}" method="post">
            <div>
                <input type="hidden" name="aid" value="{{ product.id }}"/>
                <input type="hidden" name="variant" value="
                    {% if variant is defined %}
                        {{ variant.key }}
                    {% endif %}
                "/>
                <input type="hidden" name="fnc" value="tobasket">
                <input type="hidden" name="referer" value="{{ product.url | translation_url }}">
            </div>
            <div class="product-quantity-container clearfix">
                <label for="quantity" class="product-quantity-title pull-left">{{ 'product.qantity'|trans }}</label>
                <input id="quantity" name="am" type="text" value="1" class="product-quantity-inp pull-left">
            </div>
            <span class="product-price">
                {% if variant is defined and variant.price != '' %}
                    {{ variant.price|number_format(2, ',', ' ') }} €
                {% else %}
                    {{ product.price|number_format(2, ',', ' ') }} €
                {% endif %}
            </span>
            <button class="product-add-to-cart">{{ 'product.add_to_cart'|trans }}</button>
        </form>
    </div>
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="product-page">
        <div class="row">
            <div class="main-product-image col-sm-5 col-md-5 col-lg-6">
                <img src="{{ product.images[0] }}" class="product-image" rel="1" alt="">
                <div class="product-image-scroller">
                    <ul class="slider-list">
                        {% for image in product.images %}
                            <li ><img src="{{ image }}" class="image-in-slider" alt=""></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {{ block('product_content') }}
        </div>
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </div>
{% endblock %}

{% block content_wrapper %}
    <div class="row">
        <div class="col-sm-12">
            {{ block('breadcrumbs') }}
        </div>
    </div>
    {{ block('content') }}
{% endblock %}
